{
  "pike13_url": "https://herosjourneyfitness.pike13.com/api/v2/front/event_occurrences.json",
  "calendar_id": "your_calendar_id@group.calendar.google.com",
  "time_zone": "America/Los_Angeles",
  "credentials_path": "./credentials/credentials.json",
  "log_path": "./logs/pike13sync.log",
  "dry_run": false
}
